
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
</head>
<body>

<p>
    <a href="{% url 'learning_logs:index' %}">学习日志</a> /
    <a href="{% url 'learning_logs:topics' %}">主题</a>
    {% if user.is_authenticated %}
    Hello, {{ user.username }}！
    {% else %}
        <a href="{% url 'users:login' %}">登录</a>
    {% endif %}
    <a href="{% url 'users:logout' %}">注销</a>
    <a href="{% url 'users:register' %}">注册</a>
    <!-- 生成一个URL，该URL与learning_logs/urls.py中定义的名为index的URL模式匹配  -->
</p>

{% block content %}

{% endblock content %}
<!--插入了一对块标签。这个块名为content，是一个占位符，其中包含的信息将由子模板指定。-->
</body>
</html>